<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Death to the Stock Photo:<br>
        Special Thanks</h2>
        <p class="lead">A special thanks to <a href=
        "http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock
        Photo</a> for providing the photographs that you see in this template.
        Visit their website to become a member.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6"><img alt="" class=
      "img-responsive" src="img/ipad.png"></div>
    </div>
  </div><!-- /.container-->
</div><!-- /.content-section-a-->
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">3D Device Mockups<br>
        by PSDCovers</h2>
        <p class="lead">Turn your 2D designs into high quality, 3D product shots
        in seconds using free Photoshop actions by <a href=
        "http://www.psdcovers.com/" target="_blank">PSDCovers</a>! Visit their
        website to download some of their awesome, free photoshop actions!</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6 col-sm-6"><img alt="" class=
      "img-responsive" src="img/dog.png"></div>
    </div>
  </div><!-- /.container-->
</div><!-- /.content-section-b-->
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Google Web Fonts and<br>
        Font Awesome Icons</h2>
        <p class="lead">This template features the 'Lato' font, part of the
        <a href="http://www.google.com/fonts" target="_blank">Google Web Font
        library</a>, as well as <a href="http://fontawesome.io" target=
        "_blank">icons from Font Awesome</a>.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6"><img alt="" class=
      "img-responsive" src="img/phones.png"></div>
    </div>
  </div>
</div>